<div class="events-by-day">
{{#if eventsByDay}}
  {{#each eventsByDay}}
    {{#if has_events}}
      <div class="day-container">
        <h2 class="day-heading" id="{{date}}">
          {{#if week_url}}
            <a href="{{week_url}}">{{short_date}}</a>
          {{else}}
            {{short_date}}
          {{/if}}
        </h2>

        {{#each time_slots}}
          <div class="time-slot">
            <h3 class="time-heading">{{events.[0].formatted_time}}</h3>
            {{#each events}}
              <div class="h-event event">
                <a class="u-url p-name" href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a>{{#if display_title}}{{#unless (eq display_title title)}} <span class="p-summary">{{display_title}}</span>{{/unless}}{{/if}}
                {{#if time}}<time class="dt-start" datetime="{{../../date}}T{{time}}">{{formatted_time}}</time>{{/if}}
                <div class="event-details">
                  {{#if location}}
                    <div class="p-location event-location">
                      {{location}}
                    </div>
                  {{/if}}
                  {{#if submitter_name}}
                    {{#unless (eq submitter_name "anonymous")}}
                      <div>submitted by
                      {{#if submitter_link}}
                        <a href="{{submitter_link}}" target="_blank" rel="noopener noreferrer" class="p-author h-card">{{submitter_name}}</a>
                      {{else}}
                        <span class="p-author">{{submitter_name}}</span>
                      {{/if}}
                      </div>
                    {{/unless}}
                  {{else}}
                    {{#if group}}
                      <div class="p-organizer h-card">
                      {{#if group_website}}
                        <a class="u-url p-name" href="{{group_website}}" target="_blank" rel="noopener noreferrer">{{group}}</a>
                      {{else}}
                        <span class="p-name">{{group}}</span>
                      {{/if}}
                      </div>
                    {{/if}}
                  {{/if}}
                  {{#if also_published_by}}
                    <div class="also-published-by">
                      Also published by 
                      {{#each also_published_by}}
                        <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{group}}</a>{{#unless @last}}{{#if @../last}} and {{else}}, {{/if}}{{/unless}}
                      {{/each}}
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
{{else}}
  <div class="no-events-container">
    <p>No events found for this period.</p>
    <p>Check back soon or <a href="/groups/">browse our tech groups</a>.</p>
  </div>
{{/if}}
</div>
